openapi: 3.0.3
info:
  title: QWality Inspection System API
  description: |
    API системы инспекции качества QWality, предоставляющий возможности управления клиентами, 
    пользователями, камерами, инспекциями и дефектами с использованием машинного обучения.
    
    ## Как тестировать в Swagger UI:
    
    1. **Получите токены**: Выполните POST `/auth/login` с вашими учетными данными
    2. **Авторизуйтесь**: Нажмите кнопку "Authorize" (🔒) вверху страницы
    3. **Вставьте access_token**: В поле "Value" вставьте **только сам токен** (без слова "Bearer")
    4. **Нажмите "Authorize"**: Теперь все защищенные эндпоинты будут использовать этот токен автоматически
    
    ## Обновление токена:
    Когда access_token истечет (получите 401), используйте `/auth/refresh` для получения нового токена,
    затем повторите процедуру авторизации с новым токеном.
    
    ## Роли пользователей
    - **owner**: Владелец компании, полные права
    - **admin**: Администратор, может управлять пользователями и настройками
    - **moderator**: Модератор, может просматривать и управлять инспекциями
    - **user**: Обычный пользователь, ограниченные права просмотра
  version: 1.2.0
  contact:
    name: QWality Support
    email: support@qwality.space
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://qwality.space/terms

servers:
  - url: https://api.qwality.space

security:
  - BearerAuth: [ ]

tags:
  - name: Аутентификация
    description: Операции, связанные с аутентификацией пользователей
  - name: Клиенты
    description: Операции, связанные с управлением клиентами
  - name: Пользователи
    description: Операции, связанные с управлением пользователями
  - name: Камеры
    description: Управление камерами и связанными операциями, включая корзину
  - name: Инспекции
    description: Проведение инспекций и получение результатов
  - name: Дефекты
    description: Управление дефектами и связанными операциями, включая корзину
  - name: Лицензии
    description: Управление лицензиями и подписками
  - name: Экспорт
    description: Экспорт отчетов и логов, управление логами

paths:
  # === АУТЕНТИФИКАЦИЯ ===
  /auth/login:
    post:
      summary: Вход пользователя
      description: Аутентификация пользователя и получение JWT токенов
      tags:
        - Аутентификация
      security: [ ]  # Не требует авторизации
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              owner_login:
                summary: Вход владельца компании
                value:
                  login: "owner@example.com"
                  password: "secure_password123"
              moderator_login:
                summary: Вход модератора
                value:
                  login: "moderatorlogin"
                  password: "secure_password123"
      responses:
        '200':
          description: Успешная аутентификация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/refresh:
    post:
      summary: Обновление JWT токена
      description: Обновление access токена с использованием refresh токена
      tags:
        - Аутентификация
      security:
        - BearerAuth: [ ]
      responses:
        '200':
          description: Успешное обновление токена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /auth/send-registration-code:
    post:
      summary: Отправка кода подтверждения email
      description: Запрос на отправление email с кодом подтверждения почты для регистрации
      tags:
        - Аутентификация
      security: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /auth/reset-password-request:
    post:
      summary: Запрос на восстановление пароля
      description: Отправка кода восстановления пароля на email
      tags:
        - Аутентификация
      security: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /auth/reset-password-confirm:
    post:
      summary: Подтверждение восстановления пароля
      description: Подтверждение смены пароля с помощью кода из email
      tags:
        - Аутентификация
      security: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '422':
          $ref: '#/components/responses/ValidationError'

  # === КЛИЕНТЫ ===
  /clients:
    post:
      summary: Регистрация нового клиента
      description: Регистрация нового клиента и создание пользователя с ролью owner
      tags:
        - Клиенты
      security: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientRegistrationRequest'
      responses:
        '201':
          $ref: '#/components/responses/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /clients/send-code:
    delete:
      summary: Запрос кода для удаления аккаунта
      description: Отправляет код подтверждения для удаления аккаунта на email
      tags:
        - Клиенты
      responses:
        '200':
          $ref: '#/components/responses/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /clients/confirm:
    delete:
      summary: Подтверждение удаления аккаунта
      description: Подтверждение удаления аккаунта с помощью кода из email
      tags:
        - Клиенты
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmationCodeRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /clients/sensitivity:
    get:
      summary: Получить чувствительность нейросети
      description: Возвращает текущую чувствительность нейросети клиента
      tags:
        - Клиенты
      responses:
        '200':
          description: Текущая чувствительность
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensitivityResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    patch:
      summary: Изменить чувствительность нейросети
      description: Изменить чувствительность нейросети для данного клиента
      tags:
        - Клиенты
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SensitivityRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  # === ЛИЦЕНЗИИ ===
  /licenses:
    get:
      summary: Получить доступные лицензии
      description: Возвращает список доступных типов лицензий и их характеристики
      tags:
        - Лицензии
      responses:
        '200':
          description: Список лицензий
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/License'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      summary: Приобрести лицензию
      description: Покупка лицензии с указанным типом и методом оплаты
      tags:
        - Лицензии
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LicensePurchaseRequest'
      responses:
        '201':
          description: Лицензия приобретена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicensePurchaseResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '402':
          description: Ошибка оплаты
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # === ПОЛЬЗОВАТЕЛИ ===
  /users:
    get:
      summary: Получить список пользователей
      description: Возвращает список пользователей, связанных с клиентом
      tags:
        - Пользователи
      parameters:
        - name: role
          in: query
          description: Фильтр по роли пользователя
          schema:
            $ref: '#/components/schemas/UserRole'
        - name: page
          in: query
          description: Номер страницы для пагинации
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Количество пользователей на странице
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Список пользователей
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /users/me:
    get:
      summary: Получить данные текущего пользователя
      description: Возвращает информацию о текущем аутентифицированном пользователе
      tags:
        - Пользователи
      responses:
        '200':
          description: Данные текущего пользователя
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /users/sub-account:
    post:
      summary: Создать суб-аккаунт
      description: Создает новый суб-аккаунт с указанными правами
      tags:
        - Пользователи
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubAccountRequest'
      responses:
        '201':
          description: Суб-аккаунт создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /users/{userId}:
    patch:
      summary: Обновить данные пользователя
      description: Обновляет данные указанного пользователя
      tags:
        - Пользователи
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
      responses:
        '200':
          description: Данные пользователя обновлены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'

    delete:
      summary: Удалить пользователя
      description: Удаляет учетную запись пользователя по указанному идентификатору
      tags:
        - Пользователи
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          $ref: '#/components/responses/SuccessMessage'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # === КАМЕРЫ ===
  /cameras:
    get:
      summary: Получить список камер
      description: Возвращает список камер, связанных с клиентом
      tags:
        - Камеры
      parameters:
        - name: status
          in: query
          description: Фильтр по статусу камеры
          schema:
            $ref: '#/components/schemas/CameraStatus'
        - name: page
          in: query
          description: Номер страницы для пагинации
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Количество камер на странице
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Список камер
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CamerasListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

    post:
      summary: Добавить новую камеру
      description: Создает новую камеру с указанными параметрами
      tags:
        - Камеры
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CameraCreateRequest'
      responses:
        '201':
          description: Камера создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /cameras/{cameraId}:
    get:
      summary: Получить информацию о камере
      description: Возвращает подробную информацию о камере по ID
      tags:
        - Камеры
      parameters:
        - $ref: '#/components/parameters/CameraId'
      responses:
        '200':
          description: Информация о камере
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

    patch:
      summary: Обновить информацию о камере
      description: Обновляет параметры существующей камеры
      tags:
        - Камеры
      parameters:
        - $ref: '#/components/parameters/CameraId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CameraUpdateRequest'
      responses:
        '200':
          description: Камера обновлена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Camera'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /cameras/{cameraId}/soft:
    delete:
      summary: Переместить камеру в корзину
      description: Мягкое удаление камеры (устанавливает статус 'deleted')
      tags:
        - Камеры
      parameters:
        - $ref: '#/components/parameters/CameraId'
      responses:
        '200':
          $ref: '#/components/responses/SuccessMessage'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /cameras/{cameraId}/permanently:
    delete:
      summary: Удалить камеру навсегда
      description: Полное удаление камеры и всех связанных данных из базы данных
      tags:
        - Камеры
      parameters:
        - $ref: '#/components/parameters/CameraId'
      responses:
        '200':
          $ref: '#/components/responses/SuccessMessage'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /cameras/permanently/range:
    delete:
      summary: Массовое удаление камер
      description: Полное удаление нескольких камер и всех связанных данных
      tags:
        - Камеры
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '422':
          $ref: '#/components/responses/ValidationError'

  # === ИНСПЕКЦИИ ===
  /inspections:
    post:
      summary: Запустить инспекцию
      description: Запускает новую инспекцию на указанной камере с загруженным изображением
      tags:
        - Инспекции
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - batch_number
                - camera_id
                - image
              properties:
                batch_number:
                  type: string
                  description: Номер партии для инспекции
                  example: "BATCH-002"
                camera_id:
                  type: string
                  description: ID камеры для проведения инспекции
                  example: "13"
                image:
                  type: string
                  format: binary
                  description: Изображение для анализа
      responses:
        '200':
          description: Инспекция успешно выполнена
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # === ДЕФЕКТЫ ===
  /defects:
    get:
      summary: Получить все дефекты
      description: Возвращает список всех дефектов
      tags:
        - Дефекты
      responses:
        '200':
          description: Список дефектов
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /defects/camera/{cameraId}:
    get:
      summary: Получить дефекты конкретной камеры
      description: Возвращает список дефектов, обнаруженных на указанной камере
      tags:
        - Дефекты
      parameters:
        - name: cameraId
          in: path
          required: true
          description: ID камеры
          schema:
            type: integer
            example: 3
      responses:
        '200':
          description: Список дефектов для указанной камеры
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /defects/{defectId}/restore:
    patch:
      summary: Восстановить дефект из корзины
      description: Восстанавливает дефект из корзины
      tags:
        - Дефекты
      parameters:
        - name: defectId
          in: path
          required: true
          description: ID дефекта
          schema:
            type: integer
            example: 1
      responses:
        '200':
          $ref: '#/components/responses/SuccessMessage'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /defects/{defectId}/soft:
    delete:
      summary: Переместить дефект в корзину
      description: Мягкое удаление дефекта
      tags:
        - Дефекты
      parameters:
        - name: defectId
          in: path
          required: true
          description: ID дефекта
          schema:
            type: integer
            example: 2
      responses:
        '200':
          $ref: '#/components/responses/SuccessMessage'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /defects/{defectId}/permanently:
    delete:
      summary: Удалить дефект навсегда
      description: Полное удаление дефекта из базы данных
      tags:
        - Дефекты
      parameters:
        - name: defectId
          in: path
          required: true
          description: ID дефекта
          schema:
            type: integer
            example: 1
      responses:
        '200':
          $ref: '#/components/responses/SuccessMessage'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /defects/permanently/range:
    delete:
      summary: Массовое удаление дефектов по диапазону дат
      description: Полное удаление всех дефектов в указанном временном диапазоне
      tags:
        - Дефекты
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - start_date
                - end_date
              properties:
                start_date:
                  type: string
                  format: date-time
                  description: Начальная дата диапазона
                  example: "2025-06-02T10:30:00.0000000"
                end_date:
                  type: string
                  format: date-time
                  description: Конечная дата диапазона
                  example: "2025-06-02T10:38:00.000000"
      responses:
        '200':
          $ref: '#/components/responses/SuccessMessage'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /defects/permanently/all:
    delete:
      summary: Очистить корзину дефектов
      description: Полное удаление всех дефектов из корзины
      tags:
        - Дефекты
      responses:
        '200':
          $ref: '#/components/responses/SuccessMessage'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # === ЭКСПОРТ ===
  /export/report:
    post:
      summary: Экспорт отчета
      description: Экспортирует отчет в указанном формате за заданный период
      tags:
        - Экспорт
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRequest'
      responses:
        '200':
          description: Файл отчета
          content:
            text/csv:
              schema:
                type: string
                format: binary
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /export/logs:
    post:
      summary: Экспорт логов
      description: Экспортирует логи в указанном формате за заданный период
      tags:
        - Экспорт
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRequest'
      responses:
        '200':
          description: Файл логов
          content:
            text/csv:
              schema:
                type: string
                format: binary
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    delete:
      summary: Удалить логи
      description: Удаляет логи за указанный период
      tags:
        - Экспорт
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogsDeleteRequest'
      responses:
        '200':
          description: Логи удалены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogsDeleteResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT токен, полученный через /auth/login. 
        Формат: Authorization: Bearer <token>

  parameters:
    UserId:
      name: userId
      in: path
      required: true
      description: Уникальный идентификатор пользователя
      schema:
        type: integer
        minimum: 1
        example: 123

    CameraId:
      name: cameraId
      in: path
      required: true
      description: Уникальный идентификатор камеры
      schema:
        type: integer
        minimum: 1
        example: 456

    DefectId:
      name: defectId
      in: path
      required: true
      description: ID дефекта
      schema:
        type: integer
        minimum: 1
        example: 1

  schemas:
    # === БАЗОВЫЕ ТИПЫ ===
    UserRole:
      type: string
      enum: [ owner, admin, moderator, user ]
      description: Роль пользователя в системе

    ClientType:
      type: string
      enum: [ legal person, individual ]
      description: Тип клиента

    CameraStatus:
      type: string
      enum: [ active, non_active, deleted ]
      description: Статус камеры

    ColorTheme:
      type: string
      enum: [ light, dark ]
      description: Цветовая тема интерфейса

    FontSize:
      type: string
      enum: [ small, medium, large ]
      description: Размер шрифта интерфейса

    # === ЭКСПОРТ ===
    ExportRequest:
      type: object
      required:
        - start_date
        - end_date
        - format
      properties:
        start_date:
          type: string
          format: date-time
          description: Начальная дата периода
          example: "2025-06-02T10:02:02.582153"
        end_date:
          type: string
          format: date-time
          description: Конечная дата периода
          example: "2025-06-02T10:02:54.661714"
        format:
          type: string
          enum: [ csv, pdf ]
          description: Формат экспорта
          example: "csv"

    LogsDeleteRequest:
      type: object
      required:
        - start_date
        - end_date
      properties:
        start_date:
          type: string
          format: date-time
          description: Начальная дата периода для удаления
          example: "2025-05-02T10:02:02.582153"
        end_date:
          type: string
          format: date-time
          description: Конечная дата периода для удаления
          example: "2025-10-02T10:02:54.661714"

    LogsDeleteResponse:
      type: object
      required:
        - message
        - deleted_count
      properties:
        message:
          type: string
          description: Сообщение о результате удаления
          example: "Deleted 20 records"
        deleted_count:
          type: integer
          description: Количество удаленных записей
          minimum: 0
          example: 20

    # === БАЗОВЫЕ ОТВЕТЫ ===
    ErrorResponse:
      type: object
      required:
        - error
        - timestamp
      properties:
        error:
          type: string
          description: Описание ошибки
          example: "Invalid input data"
        details:
          type: object
          description: Дополнительные детали ошибки
        timestamp:
          type: string
          format: date-time
          description: Время возникновения ошибки
          example: "2024-01-15T10:30:00Z"
        request_id:
          type: string
          description: Идентификатор запроса для отладки
          example: "req_123456789"

    MessageResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          description: Сообщение об успешном выполнении операции
          example: "Operation completed successfully"

    ValidationError:
      type: object
      required:
        - error
        - violations
      properties:
        error:
          type: string
          example: "Validation failed"
        violations:
          type: array
          items:
            type: object
            required:
              - field
              - message
            properties:
              field:
                type: string
                description: Поле с ошибкой валидации
                example: "email"
              message:
                type: string
                description: Описание ошибки валидации
                example: "Invalid email format"

    PaginationMeta:
      type: object
      required:
        - page
        - limit
        - total
        - total_pages
      properties:
        page:
          type: integer
          description: Текущая страница
          minimum: 1
          example: 1
        limit:
          type: integer
          description: Количество элементов на странице
          minimum: 1
          example: 20
        total:
          type: integer
          description: Общее количество элементов
          minimum: 0
          example: 100
        total_pages:
          type: integer
          description: Общее количество страниц
          minimum: 0
          example: 5

    # === АУТЕНТИФИКАЦИЯ ===
    LoginRequest:
      type: object
      required:
        - login
        - password
      properties:
        login:
          type: string
          description: Email владельца или логин пользователя
          example: "owner@example.com"
        password:
          type: string
          format: password
          description: Пароль пользователя
          minLength: 6
          example: "secure_password123"

    AuthResponse:
      type: object
      required:
        - access_token
        - refresh_token
        - token_type
        - expires_in
        - user
      properties:
        access_token:
          type: string
          description: JWT access токен
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        refresh_token:
          type: string
          description: JWT refresh токен для обновления
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        token_type:
          type: string
          enum: [ Bearer ]
          example: "Bearer"
        expires_in:
          type: integer
          description: Время жизни access токена в секундах
          example: 3600
        user:
          $ref: '#/components/schemas/User'

    TokenResponse:
      type: object
      required:
        - access_token
        - token_type
        - expires_in
      properties:
        access_token:
          type: string
          description: Новый JWT access токен
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        token_type:
          type: string
          enum: [ Bearer ]
          example: "Bearer"
        expires_in:
          type: integer
          description: Время жизни токена в секундах
          example: 3600

    EmailRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          description: Email пользователя
          example: "user@example.com"

    PasswordResetRequest:
      type: object
      required:
        - email
        - new_password
        - code
      properties:
        email:
          type: string
          format: email
          description: Email пользователя
          example: "user@example.com"
        new_password:
          type: string
          format: password
          description: Новый пароль
          minLength: 6
          example: "new_secure_password123"
        code:
          type: string
          description: Код подтверждения из email
          pattern: '^[0-9]{6}$'
          example: "123456"

    # === КЛИЕНТЫ ===
    ClientRegistrationRequest:
      type: object
      required:
        - email
        - password
        - tin
        - type
        - code
      properties:
        email:
          type: string
          format: email
          description: Email клиента и будущего владельца
          example: "company@example.com"
        password:
          type: string
          format: password
          description: Пароль для создаваемого пользователя-владельца
          minLength: 6
          example: "secure_password123"
        tin:
          type: string
          description: ИНН клиента
          pattern: '^[0-9]{10,12}$'
          example: "7712345678"
        type:
          $ref: '#/components/schemas/ClientType'
        code:
          type: string
          description: Код подтверждения из email
          pattern: '^[0-9]{6}$'
          example: "123456"

    ConfirmationCodeRequest:
      type: object
      required:
        - code
      properties:
        code:
          type: integer
          description: Код подтверждения из email
          pattern: '^[0-9]{6}$'
          example: 123456

    SensitivityRequest:
      type: object
      required:
        - sensivity
      properties:
        sensivity:
          type: number
          format: float
          description: Чувствительность нейросети (от 0.0 до 1.0)
          minimum: 0.0
          maximum: 1.0
          example: 0.75

    SensitivityResponse:
      type: object
      required:
        - sensitivity
      properties:
        sensitivity:
          type: number
          format: float
          description: Текущая чувствительность нейросети
          minimum: 0.0
          maximum: 1.0
          example: 0.75

    # === ЛИЦЕНЗИИ ===
    License:
      type: object
      required:
        - id
        - name
        - price
        - features
        - duration_days
      properties:
        id:
          type: string
          description: Уникальный идентификатор лицензии
          example: "premium_monthly"
        name:
          type: string
          description: Название лицензии
          example: "Premium Monthly"
        description:
          type: string
          description: Описание возможностей лицензии
          example: "Full access with advanced analytics"
        price:
          type: number
          format: float
          description: Стоимость лицензии
          minimum: 0
          example: 99.99
        currency:
          type: string
          description: Валюта
          enum: [ USD, EUR, RUB ]
          example: "USD"
        features:
          type: array
          items:
            type: string
          description: Список возможностей лицензии
          example: [ "Unlimited cameras", "Advanced analytics", "Priority support" ]
        duration_days:
          type: integer
          description: Продолжительность лицензии в днях
          minimum: 1
          example: 30

    LicensePurchaseRequest:
      type: object
      required:
        - license_type
        - payment_method
      properties:
        license_type:
          type: string
          description: Тип лицензии
          example: "premium_monthly"
        payment_method:
          type: string
          enum: [ card, bank_transfer, cryptocurrency ]
          description: Метод оплаты
          example: "card"
        payment_details:
          type: object
          description: Дополнительные данные для оплаты
          additionalProperties: true

    LicensePurchaseResponse:
      type: object
      required:
        - license_id
        - status
        - expires_at
      properties:
        license_id:
          type: string
          description: Идентификатор приобретенной лицензии
          example: "lic_123456789"
        status:
          type: string
          enum: [ active, pending, expired ]
          description: Статус лицензии
          example: "active"
        expires_at:
          type: string
          format: date-time
          description: Дата окончания лицензии
          example: "2024-02-15T10:30:00Z"
        payment_id:
          type: string
          description: Идентификатор платежа
          example: "pay_123456789"

    # === ПОЛЬЗОВАТЕЛИ ===
    User:
      type: object
      required:
        - id
        - login
        - role
        - color_theme
        - font_size
        - created_at
      properties:
        id:
          type: integer
          description: Уникальный идентификатор пользователя
          minimum: 1
          example: 123
        login:
          type: string
          description: Логин пользователя или email для owner
          example: "userlogin"
        email:
          type: string
          format: email
          description: Email пользователя (только для owner)
          example: "owner@example.com"
        role:
          $ref: '#/components/schemas/UserRole'
        color_theme:
          $ref: '#/components/schemas/ColorTheme'
        font_size:
          $ref: '#/components/schemas/FontSize'
        last_login:
          type: string
          format: date-time
          description: Время последнего входа
          example: "2024-01-15T10:30:00Z"
        created_at:
          type: string
          format: date-time
          description: Время создания аккаунта
          example: "2024-01-10T14:20:00Z"
        updated_at:
          type: string
          format: date-time
          description: Время последнего обновления
          example: "2024-01-15T10:30:00Z"

    UsersListResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/User'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    SubAccountRequest:
      type: object
      required:
        - login
        - password
      properties:
        login:
          type: string
          description: Логин для нового суб-аккаунта
          minLength: 3
          maxLength: 50
          pattern: '^[a-zA-Z0-9_-]+$'
          example: "subuserlogin"
        password:
          type: string
          format: password
          description: Пароль для суб-аккаунта
          minLength: 6
          example: "secure123"
        role:
          type: string
          enum: [ user, moderator, admin ]
          description: Роль суб-аккаунта
          default: user
          example: "user"

    UserUpdateRequest:
      type: object
      properties:
        role:
          type: string
          enum: [ admin, moderator, user ]
          description: Новая роль пользователя (нельзя изменить на owner)
          example: "moderator"
        color_theme:
          $ref: '#/components/schemas/ColorTheme'
        font_size:
          $ref: '#/components/schemas/FontSize'

    # === КАМЕРЫ ===
    Camera:
      type: object
      required:
        - id
        - name
        - camera_url
        - status
        - created_at
      properties:
        id:
          type: integer
          description: Уникальный идентификатор камеры
          minimum: 1
          example: 456
        name:
          type: string
          description: Название камеры
          minLength: 1
          maxLength: 100
          example: "Камера производственной линии #1"
        camera_url:
          type: string
          format: uri
          description: URL для подключения к камере
          example: "rtsp://192.168.1.100:554/stream"
        status:
          $ref: '#/components/schemas/CameraStatus'
        description:
          type: string
          description: Описание камеры
          maxLength: 500
          example: "Камера контроля качества на основной производственной линии"
        location:
          type: string
          description: Расположение камеры
          maxLength: 200
          example: "Цех #1, линия производства"
        created_at:
          type: string
          format: date-time
          description: Время создания камеры
          example: "2024-01-10T14:20:00Z"
        updated_at:
          type: string
          format: date-time
          description: Время последнего обновления
          example: "2024-01-15T10:30:00Z"
        deleted_at:
          type: string
          format: date-time
          description: Время удаления (для мягкого удаления)
          nullable: true
          example: null

    CamerasListResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Camera'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    CameraCreateRequest:
      type: object
      required:
        - name
        - camera_url
      properties:
        name:
          type: string
          description: Название камеры
          minLength: 1
          maxLength: 100
          example: "Камера производственной линии #1"
        camera_url:
          type: string
          format: uri
          description: URL для подключения к камере
          example: "rtsp://192.168.1.100:554/stream"

    CameraUpdateRequest:
      type: object
      properties:
        name:
          type: string
          description: Новое название камеры
          minLength: 1
          maxLength: 100
          example: "Обновленное название камеры"
        camera_url:
          type: string
          format: uri
          description: Новый URL камеры
          example: "rtsp://192.168.1.101:554/stream"
        status:
          type: string
          enum: [ active, non_active ]
          description: Новый статус камеры (deleted недоступен для прямого изменения)
          example: "active"

    BulkDeleteRequest:
      type: object
      required:
        - camera_ids
      properties:
        camera_ids:
          type: array
          items:
            type: integer
            minimum: 1
          description: Список ID камер для удаления
          minItems: 1
          maxItems: 100
          example: [ 1, 2, 3, 5, 8 ]

    # === ИНСПЕКЦИИ ===
    InspectionRequest:
      type: object
      required:
        - batch_number
        - camera_id
        - image
      properties:
        batch_number:
          type: string
          description: Номер партии для инспекции
          example: "BATCH-002"
        camera_id:
          type: string
          description: ID камеры для проведения инспекции
          example: "13"
        image:
          type: string
          format: binary
          description: Изображение для анализа

    # === ДЕФЕКТЫ ===
    DateRangeDeleteRequest:
      type: object
      required:
        - start_date
        - end_date
      properties:
        start_date:
          type: string
          format: date-time
          description: Начальная дата диапазона
          example: "2025-06-02T10:30:00.0000000"
        end_date:
          type: string
          format: date-time
          description: Конечная дата диапазона
          example: "2025-06-02T10:38:00.000000"

  responses:
    # === СТАНДАРТНЫЕ ОТВЕТЫ ===
    SuccessMessage:
      description: Операция выполнена успешно
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MessageResponse'

    # === ОШИБКИ ===
    BadRequestError:
      description: Неверный запрос
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: "Invalid request data"
            timestamp: "2024-01-15T10:30:00Z"
            request_id: "req_123456789"

    UnauthorizedError:
      description: Не авторизован
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: "Authentication required"
            timestamp: "2024-01-15T10:30:00Z"
            request_id: "req_123456789"

    ForbiddenError:
      description: Недостаточно прав
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: "Insufficient permissions"
            timestamp: "2024-01-15T10:30:00Z"
            request_id: "req_123456789"

    NotFoundError:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: "Resource not found"
            timestamp: "2024-01-15T10:30:00Z"
            request_id: "req_123456789"

    ConflictError:
      description: Конфликт данных
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: "Resource already exists"
            timestamp: "2024-01-15T10:30:00Z"
            request_id: "req_123456789"

    ValidationError:
      description: Ошибка валидации
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
          example:
            error: "Validation failed"
            violations:
              - field: "email"
                message: "Invalid email format"
              - field: "password"
                message: "Password must be at least 6 characters"

    RateLimitError:
      description: Превышен лимит запросов
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: "Rate limit exceeded"
            timestamp: "2024-01-15T10:30:00Z"
            request_id: "req_123456789"

    InternalServerError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: "Internal server error"
            timestamp: "2024-01-15T10:30:00Z"
            request_id: "req_123456789"